* {
  margin: 0;
  font-family: Roboto;
}

ul > li {
  list-style: none;
}
ul {
  display: flex;
  gap: 30px;
}
nav {
  display: flex;
  align-items: center;
  background-color: #fff9ea;
  height: 108px;
  justify-content: space-around;
}
.list-item {
  font-size: 20px;
  font-weight: 500;
  font-famity: Roboto;
}
.first-btn {
  width: 122px;
  height: 38.13px;
  background-color: #ffcb45;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}
/* hero style */
.hero-container{
    background-image: url(../images/shapes.png);
    height:80vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content-1{
    display:flex;
    justify-content: space-around;

}
.hero-body{
    display: flex;
    align-items: center;
}
.hero-heading{
    font-size: 50px;
    margin-bottom: 21px;
}
